@model HtmlExtensions.Models.Player
@{
    ViewBag.Title = "About";
}
<h2>Html Extensions Examples</h2>
<h3>Html.Image</h3>

<p>Messi's Goal Celebration</p>
<div class="row">
    <div class="col-md-6">
        @Html.Image("https://usatthebiglead.files.wordpress.com/2016/02/gettyimages-511888504.jpg",
       "Messi Scoring", "img-responsive img-rounded", new { data_action="create-item"})
    </div>
</div>
<form>
    <div class="">
        <div class="row">
            <div class="col-md-2 form-group">
                @Html.FormFieldTextBoxFor(x => x.Name, HtmlExtensions.HmlExtensionsCommon.InputTypes.text, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 form-group">
                @Html.FormFieldTextBoxFor(x => x.Team, HtmlExtensions.HmlExtensionsCommon.InputTypes.text, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                @Html.CustomButton("<i class='fa fa-universal-access' aria-hidden='true'></i> Click Here", "btn-danger", "my-button", "cool button",
       true, true, HmlExtensionsCommon.ButtonTypes.reset)
            </div>
        </div>
    </div>
</form>

